.vscode
/dist/
node_modules
typings
debug.log
.idea/
npm-debug.log

#ignore the self build vendor-*.js
/app/library/vendor-*.js

#ignore the index.html ,so that prevent the conflicts for self inject vendor-*.js
/app/index.html
